<theme-toggle>
  <button class="cursor-pointer p-1 opacity-70 hover:opacity-100" type="button" style="background:none;border:none;color:inherit">
    <span class="sr-only">Dark Theme</span>
    <svg aria-hidden="true" class="w-5 h-5 block dark:hidden" fill="none" focusable="false" stroke-width="1.5" viewBox="0 0 24 24" stroke="currentColor">
      <path d="M12 18C15.3137 18 18 15.3137 18 12C18 8.68629 15.3137 6 12 6C8.68629 6 6 8.68629 6 12C6 15.3137 8.68629 18 12 18Z" stroke-linecap="round" stroke-linejoin="round"></path>
      <path d="M22 12L23 12" stroke-linecap="round" stroke-linejoin="round"></path>
      <path d="M12 2V1" stroke-linecap="round" stroke-linejoin="round"></path>
      <path d="M12 23V22" stroke-linecap="round" stroke-linejoin="round"></path>
      <path d="M20 20L19 19" stroke-linecap="round" stroke-linejoin="round"></path>
      <path d="M20 4L19 5" stroke-linecap="round" stroke-linejoin="round"></path>
      <path d="M4 20L5 19" stroke-linecap="round" stroke-linejoin="round"></path>
      <path d="M4 4L5 5" stroke-linecap="round" stroke-linejoin="round"></path>
      <path d="M1 12L2 12" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
    <svg aria-hidden="true" class="w-5 h-5 hidden dark:block" fill="none" focusable="false" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24">
      <path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"></path>
      <path d="M17 4a2 2 0 0 0 2 2a2 2 0 0 0 -2 2a2 2 0 0 0 -2 -2a2 2 0 0 0 2 -2"></path>
      <path d="M19 11h2m-1 -1v2"></path>
    </svg>
  </button>
</theme-toggle>

<script>
  import { rootInDarkMode } from "@/utils/domElement";

  class ThemeToggle extends HTMLElement {
    constructor() {
      super();
      const button = this.querySelector<HTMLButtonElement>("button");
      if (button) {
        button.setAttribute("role", "switch");
        button.setAttribute("aria-checked", String(rootInDarkMode()));
        button.addEventListener("click", () => {
          let themeChangeEvent = new CustomEvent("theme-change", {
            detail: { theme: rootInDarkMode() ? "light" : "dark" },
          });
          document.dispatchEvent(themeChangeEvent);
          button.setAttribute("aria-checked", String(rootInDarkMode()));
        });
      }
    }
  }
  customElements.define("theme-toggle", ThemeToggle);
</script>
