---
import { type CollectionEntry, render } from "astro:content";
import Masthead from "@/components/blog/Masthead.astro";
import TOC from "@/components/blog/TOC.astro";
import BaseLayout from "./Base.astro";

interface Props {
  post: CollectionEntry<"post">;
}

const { post } = Astro.props;
const { ogImage, title, description, updatedDate, publishDate } = post.data;
const socialImage = ogImage ?? `/og-image/${post.id}.png`;
const articleDate = updatedDate?.toISOString() ?? publishDate.toISOString();
const { headings, remarkPluginFrontmatter } = await render(post);
const readingTime: string = remarkPluginFrontmatter.readingTime;
---

<BaseLayout
  meta={{
    articleDate,
    description,
    ogImage: socialImage,
    title,
  }}
>
  <article data-pagefind-body>
    <Masthead content={post} readingTime={readingTime} />
    <div class="flex flex-col gap-10 lg:flex-row lg:items-start">
      {!!headings.length && <TOC headings={headings} />}
      <div class="prose flex-1 min-w-0">
        <slot />
      </div>
    </div>
  </article>
</BaseLayout>
